@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 127, 156, 190;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 33, 39, 45;
    --background-end-rgb: 54, 76, 129;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      transparent 30%,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

header, footer {
  background-color: lightslategray;
}
